language: php

php:
  - 5.4
  - 5.5
  - 5.6

services:
  - memcached

sudo: false

install:
  - travis_retry composer self-update && composer --version
  - travis_retry composer global require "fxp/composer-asset-plugin:1.0.0-beta4"
  - export PATH="$HOME/.composer/vendor/bin:$PATH"
  - travis_retry composer install --prefer-dist
  - /bin/sh tests/data/travis/apc-setup.sh
  - /bin/sh tests/data/travis/memcache-setup.sh

before_script:
  - mysql -e 'CREATE DATABASE dbTestMain;';
  - mysql -e 'CREATE DATABASE dbTestClient1;';
  - mysql -e 'CREATE DATABASE dbTestClient2;';
  - mysql -e 'CREATE DATABASE dbTestRemote1;';
  - mysql -e 'CREATE DATABASE dbTestRemote2;';

script:
  - vendor/bin/phpunit --verbose --coverage-clover=coverage.clover

after_script:
  - /bin/sh tests/data/travis/coverage.sh
